# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summerzied

###### Objectives:

* Tools used for Data Science
* Languages used for Data Science
* How to use Jupyter notebooks
* How to use GitHub

  ## Author : Sreeman.A

Some of the popular Languages Data Scientists use are:

1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists are:

1. pandas
2. numpy
3. scipy
4. matplotlib

 Data Science Tools 
------------------ 
     RStudio    
     Jupyter Notebook
     Google Colab

Below are a few examples of evaluating arithmetic expressions in Python :

In [4]:
(3*4)+5

17

This a simple arithmetic expression to mutiply then add integers.

In [14]:
Hours=200/60
print(Hours)

3.3333333333333335

This will convert 200 minutes to hours by diving by 60.